i {
    color: white;
}

input, select {
    border-width: 0;
    border-radius: 0;
    border-left: 1px solid black;
}

button:hover {
    transform: scale(1.2);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* The element to apply the animation to */
button, input, select {
    animation-name: fadeIn;
    animation-duration: 1s;
}