.card {
    box-shadow: 4px 4px;
    border-width: inherit;
    border-radius: 0;
    background-color: #faf8ff;
}

iframe {
    height: 80vh;
}

input {
    border-radius: 0;
    border-width: inherit;
    box-shadow: 4px 3px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* The element to apply the animation to */
.card {
    animation-name: fadeIn;
    animation-duration: 1s;
}