<div class="card">
    <div class="card-header">
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ highLevelDesign }}</h5>
        <input type="file" class="form-control" name="imageBase64"
            accept="image/png, image/jpeg" (change)="onFileChange($event)" />
    </div>
</div>
<div class="embed-responsive">
    <iframe class="embed-responsive-item" src="assets/localfile.html"
    style="height: 80vh;"
    name="drawIoFrame"
    width="100%"
    allowTransparency="true"
    scrolling="yes"
    allowfullscreen="yes"
    frameborder="0"></iframe>
</div>