.card {
    box-shadow: 4px 4px;
    border-width: inherit;
    border-radius: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* The element to apply the animation to */
.card {
    animation-name: fadeIn;
    animation-duration: 1s;
}