<h1 class="text-center">{{ heading }}</h1>
<div class="card mb-2">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="assets/users.png" class="img-fluid rounded-start"
                alt="users-pic">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ usersHeading }}</h5>
                <div class="card-text">
                    <div class="mb-2">
                        <p>{{ dailyUsers }}</p>
                        <input class="form-control"
                            name="dailyUsersAnswer"
                            #dailyUsersAnswer
                            (input)="setInputValue(dailyUsersAnswer)">
                    </div>
                    <div class="mb-2">
                        <p>{{ maxConcurrentUsers }}</p>
                        <input class="form-control"
                            name="maxConcurrentUsersAnswer"
                            #maxConcurrentUsersAnswer
                            (input)="setInputValue(maxConcurrentUsersAnswer)">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card mb-2">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="assets/traffic.png" class="img-fluid rounded-start"
                alt="users-pic">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ trafficHeading }}</h5>
                <div class="card-text">
                    <div class="mb-2">
                        <p>{{ readOps }}</p>
                        <input class="form-control" name="readOpsAnswer" #readOpsAnswer
                            (input)="setInputValue(readOpsAnswer)">
                    </div>
                    <div class="mb-2">
                        <p>{{ writeOps }}</p>
                        <input class="form-control" name="writeOpsAnswer" #writeOpsAnswer
                            (input)="setInputValue(writeOpsAnswer)">
                    </div>
                    <div class="mb-2">
                        <p>{{ peakReadOps }}</p>
                        <input class="form-control" name="peakReadOpsAnswer" #peakReadOpsAnswer
                            (input)="setInputValue(peakReadOpsAnswer)">
                    </div>
                    <div class="mb-2">
                        <p>{{ peakWriteOps }}</p>
                        <input class="form-control" name="peakWriteOpsAnswer" #peakWriteOpsAnswer
                            (input)="setInputValue(peakWriteOpsAnswer)">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card mb-2">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="assets/storage.png" class="img-fluid rounded-start"
                alt="users-pic">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ storageHeading }}</h5>
                <div class="card-text">
                    <div class="mb-2">
                        <p>{{ storageType }}</p>
                        <input class="form-control" name="storageTypeAnswer" #storageTypeAnswer
                            (input)="setInputValue(storageTypeAnswer)">
                    </div>
                    <div class="mb-2">
                        <p>{{ totalAmountStorage }}</p>
                        <input class="form-control" name="totalAmountStorageAnswer" #totalAmountStorageAnswer
                            (input)="setInputValue(totalAmountStorageAnswer)">
                    </div>
                    <div class="mb-2">
                        <p>{{ growthRate }}</p>
                        <input class="form-control" name="growthRateAnswer" #growthRateAnswer
                            (input)="setInputValue(growthRateAnswer)">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card mb-2">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="assets/memory.png" class="img-fluid rounded-start"
                alt="users-pic">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ memoryHeading }}</h5>
                <div class="card-text">
                    <div class="mb-2">
                        <p>{{ includeCacheMemory }}</p>
                        <input class="form-control" name="includeCacheMemoryAnswer" #includeCacheMemoryAnswer
                            (input)="setInputValue(includeCacheMemoryAnswer)">
                    </div>
                    <div class="mb-2">
                        <p>{{ cacheMemorySize }}</p>
                        <input class="form-control" name="cacheMemorySizeAnswer" #cacheMemorySizeAnswer
                            (input)="setInputValue(cacheMemorySizeAnswer)">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card mb-2">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="assets/network.png" class="img-fluid rounded-start"
                alt="users-pic">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ networkHeading }}</h5>
                <div class="card-text">
                    <div class="mb-2">
                        <p>{{ trafficVolume }}</p>
                        <input class="form-control" name="trafficVolumeAnswer" #trafficVolumeAnswer
                            (input)="setInputValue(trafficVolumeAnswer)">
                    </div>
                    <div class="mb-2">
                        <p>{{ dataTransferSize }}</p>
                        <input class="form-control" name="dataTransferSizeAnswer" #dataTransferSizeAnswer
                            (input)="setInputValue(dataTransferSizeAnswer)">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>