<div [hidden]="!flagsShowComponents[0]">
    <app-start-page language="{{language}}"
                    [supportedLangs]="SUPPORTED_LANGS"></app-start-page>
</div>

<div [hidden]="!flagsShowComponents[1]">
    <app-clarify-requirements
        language="{{language}}"></app-clarify-requirements>
</div>

<div [hidden]="!flagsShowComponents[2]">
    <app-capacity-estimation
        language="{{language}}"></app-capacity-estimation>
</div>

<div [hidden]="!flagsShowComponents[3]">
    <app-high-level-design
        language="{{language}}"></app-high-level-design>
</div>

<div [hidden]="!flagsShowComponents[4]">
    <app-generate-file
        language="{{language}}"></app-generate-file>
</div>

<div class="d-flex justify-content-center">
    <div *ngIf="prevButtonDisabled; else prevButtonEnabled">
        <button type="button" class="btn btn-link" (click)="prev()"
            disabled>Previous</button>
    </div>
    <ng-template #prevButtonEnabled>
        <button type="button" class="btn btn-link"
            (click)="prev()">Previous</button>
    </ng-template>

    <div *ngIf="nextButtonDisabled; else nextButtonEnabled">
        <button type="button" class="btn btn-link" (click)="next()"
            disabled>Next</button>
    </div>
    <ng-template #nextButtonEnabled>
        <button type="button" class="btn btn-link"
            (click)="next()">Next</button>
    </ng-template>
</div>