<div [hidden]="!flagsShowComponents[0]">
    <app-start-page language="{{language}}"
        [supportedLangs]="SUPPORTED_LANGS"></app-start-page>
</div>

<div [hidden]="!flagsShowComponents[1]">
    <app-clarify-requirements
        language="{{language}}"></app-clarify-requirements>
</div>

<div [hidden]="!flagsShowComponents[2]">
    <app-capacity-estimation
        language="{{language}}"></app-capacity-estimation>
</div>

<div [hidden]="!flagsShowComponents[3]">
    <app-high-level-design
        language="{{language}}"></app-high-level-design>
</div>

<div [hidden]="!flagsShowComponents[4]">
    <app-database-design
        language="{{language}}"></app-database-design>
</div>

<div [hidden]="!flagsShowComponents[5]">
    <app-design-api-and-communication-protocols
        language="{{language}}"></app-design-api-and-communication-protocols>
</div>

<div [hidden]="!flagsShowComponents[6]">
    <app-dive-deeper-into-key-components
        language="{{language}}"></app-dive-deeper-into-key-components>
</div>

<div [hidden]="!flagsShowComponents[7]">
    <app-generate-file
        language="{{language}}"></app-generate-file>
</div>

<div
    class="d-flex justify-content-evenly position-sticky bottom-0 start-0 end-0">
    <div *ngIf="prevButtonDisabled; else prevButtonEnabled">
        <button type="button" class="btn btn-link" (click)="prev()"
            disabled><i class="fa fa-chevron-left fa-2x"
            aria-hidden="true"></i></button>
    </div>
    <ng-template #prevButtonEnabled>
        <button type="button" class="btn btn-link"
            (click)="prev()"><i class="fa fa-chevron-left fa-2x"
            aria-hidden="true"></i></button>
    </ng-template>

    <div *ngIf="nextButtonDisabled; else nextButtonEnabled">
        <button type="button" class="btn btn-link" (click)="next()"
            disabled><i class="fa fa-chevron-right fa-2x"
                aria-hidden="true"></i></button>
    </div>
    <ng-template #nextButtonEnabled>
        <button type="button" class="btn btn-link"
            (click)="next()"><i class="fa fa-chevron-right fa-2x"
                aria-hidden="true"></i></button>
    </ng-template>
</div>