<div class="d-flex justify-content-center align-items-center flex-column"
    style="min-height: 100vh;">
    <div class="box w-100 text-center">
        <h1>{{ startButtonText }}</h1>
        <div class="mt-2 inputGroup">
            <input class="form-control" placeholder="{{ typeName }}" name="name"
                [(ngModel)]="inputNameValue" (input)="setName($event.target)">
        </div>
    </div>
    <div class="dropdown mt-2">
        <button class="btn btn-secondary dropdown-toggle" type="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            {{ chooseLang }}
        </button>
        <ul class="dropdown-menu">
            <li *ngFor="let lang of supportedLangs"
                (click)="changeLang(lang)">
                <img class="dropdown-item" height="30px" src="{{lang}}.svg">
            </li>
        </ul>
    </div>
</div>