.card {
    box-shadow: 4px 4px;
    border-width: inherit;
    border-radius: 0;
}

.card-header {
    border-color: #030303;
    border-width: 2px;
    background-color: #faf8ff;
}

textarea {
    border-color: #030303;
    border-width: 1px;
    border-radius: 0; 
}