<h1 class="text-center">{{ heading }}</h1>
<h2 class="text-center">{{ subheading }}</h2>

<div class="card mb-3 mx-3">
    <h4 class="card-header">{{ databaseHeading }}</h4>
    <div class="card-body">
        <h6 class="card-title text-center">{{ databasesQuestion }}</h6>
        <div class="mb-3">
            <textarea class="form-control" rows="2" name="databaseAnswer"
                (input)="setInputValue($event.target)"></textarea>
        </div>
    </div>
</div>

<div class="card mb-3 mx-3">
    <h4 class="card-header">{{ webServersApplicationServersHeading }}</h4>
    <div class="card-body">
        <h6 class="card-title text-center">{{ webAppServersQuestion }}</h6>
        <div class="mb-3">
            <textarea class="form-control" rows="2" name="webAppServersAnswer"
                (input)="setInputValue($event.target)"></textarea>
        </div>
    </div>
</div>

<div class="card mb-3 mx-3">
    <h4 class="card-header">{{ loadBalancersHeading }}</h4>
    <div class="card-body">
        <h6 class="card-title text-center">{{ loadBalancersQuestion }}</h6>
        <div class="mb-3">
            <textarea class="form-control" rows="2" name="loadBalancersAnswer"
                (input)="setInputValue($event.target)"></textarea>
        </div>
    </div>
</div>

<div class="card mb-3 mx-3">
    <h4 class="card-header">{{ cachingHeading }}</h4>
    <div class="card-body">
        <h6 class="card-title text-center">{{ cachingQuestion }}</h6>
        <div class="mb-3">
            <textarea class="form-control" rows="2" name="cachingAnswer"
                (input)="setInputValue($event.target)"></textarea>
        </div>
    </div>
</div>

<div class="card mb-3 mx-3">
    <h4 class="card-header">{{ singlePointsOfFailureHeading }}</h4>
    <div class="card-body">
        <h6 class="card-title text-center">{{ singlePointsFailureQuestion }}</h6>
        <div class="mb-3">
            <textarea class="form-control" rows="2"
                name="singlePointsFailureAnswer"
                (input)="setInputValue($event.target)"></textarea>
        </div>
    </div>
</div>

<div class="card mb-3 mx-3">
    <h4 class="card-header">{{ authenticationAuthorizationHeading }}</h4>
    <div class="card-body">
        <h6 class="card-title text-center">{{ authenticationAuthorizationQuestion }}</h6>
        <div class="mb-3">
            <textarea class="form-control" rows="2"
                name="authenticationAuthorizationAnswer"
                (input)="setInputValue($event.target)"></textarea>
        </div>
    </div>
</div>

<div class="card mb-3 mx-3">
    <h4 class="card-header">{{ rateLimitingHeading }}</h4>
    <div class="card-body">
        <h6 class="card-title text-center">{{ rateLimitingQuestion }}</h6>
        <div class="mb-3">
            <textarea class="form-control" rows="2" name="rateLimitingAnswer"
                (input)="setInputValue($event.target)"></textarea>
        </div>
    </div>
</div>
