<h1 class="text-center">{{ heading }}</h1>
<h2 class="text-center">{{ subheading }}</h2>

<div class="card mb-2">
    <h4 class="card-header">{{ databaseHeading }}</h4>
    <div class="card-body">
        <h6 class="card-title">{{ databasesQuestion }}</h6>
        <div class="mb-3">
            <textarea class="form-control" rows="2" name="databaseAnswer"
                (input)="setInputValue($event.target)"></textarea>
        </div>
    </div>
</div>

<div class="card mb-2">
    <h4 class="card-header">{{ webServersApplicationServersHeading }}</h4>
    <div class="card-body">
        <h6 class="card-title">{{ webAppServersQuestion }}</h6>
        <div class="mb-3">
            <textarea class="form-control" rows="2" name="webAppServersAnswer"
                (input)="setInputValue($event.target)"></textarea>
        </div>
    </div>
</div>

<div class="card mb-2">
    <h4 class="card-header">{{ loadBalancersHeading }}</h4>
    <div class="card-body">
        <h6 class="card-title">{{ loadBalancersQuestion }}</h6>
        <div class="mb-3">
            <textarea class="form-control" rows="2" name="loadBalancersAnswer"
                (input)="setInputValue($event.target)"></textarea>
        </div>
    </div>
</div>

<div class="card mb-2">
    <h4 class="card-header">{{ cachingHeading }}</h4>
    <div class="card-body">
        <h6 class="card-title">{{ cachingQuestion }}</h6>
        <div class="mb-3">
            <textarea class="form-control" rows="2" name="cachingAnswer"
                (input)="setInputValue($event.target)"></textarea>
        </div>
    </div>
</div>

<div class="card mb-2">
    <h4 class="card-header">{{ singlePointsOfFailureHeading }}</h4>
    <div class="card-body">
        <h6 class="card-title">{{ singlePointsFailureQuestion }}</h6>
        <div class="mb-3">
            <textarea class="form-control" rows="2"
                name="singlePointsFailureAnswer"
                (input)="setInputValue($event.target)"></textarea>
        </div>
    </div>
</div>

<div class="card mb-2">
    <h4 class="card-header">{{ authenticationAuthorizationHeading }}</h4>
    <div class="card-body">
        <h6 class="card-title">{{ authenticationAuthorizationQuestion }}</h6>
        <div class="mb-3">
            <textarea class="form-control" rows="2"
                name="authenticationAuthorizationAnswer"
                (input)="setInputValue($event.target)"></textarea>
        </div>
    </div>
</div>

<div class="card mb-2">
    <h4 class="card-header">{{ rateLimitingHeading }}</h4>
    <div class="card-body">
        <h6 class="card-title">{{ rateLimitingQuestion }}</h6>
        <div class="mb-3">
            <textarea class="form-control" rows="2" name="rateLimitingAnswer"
                (input)="setInputValue($event.target)"></textarea>
        </div>
    </div>
</div>
