<div class="card mx-3 mt-2">
    <div class="card-body">
        <h2 class="card-title text-center">{{ databaseDesign }}</h2>
        <input type="file" class="form-control" name="imageBase64"
            accept="image/png, image/jpeg" (change)="onFileChange($event)" />
    </div>
</div>
<div class="embed-responsive mt-3">
    <iframe class="embed-responsive-item" src="assets/localfile.html"
    name="drawIoFrame"
    width="100%"
    allowTransparency="true"
    scrolling="yes"
    allowfullscreen="yes"
    frameborder="0"></iframe>
</div>