.card {
    box-shadow: 4px 4px;
    border-width: inherit;
    border-radius: 0;
    background-color: #faf8ff;
}

iframe {
    height: 80vh;
}

input {
    border-radius: 0;
    border-width: inherit;
    box-shadow: 4px 3px;
}